* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

h1,h2,h3,h4,h5,p {
  margin: 0;
}

p {
  font-size: 1.6rem;
  font-weight: bold;
}

.App {
  text-align: center;
}

.top__container {
  background: url("./background.webp") -5% -10%, url("./background.png");
  overflow-x: hidden;
}

.top__contents-wrap {
  background: rgba(255, 255, 255, 0.6);
  padding: 20px 10px;
}

.display-top__logo {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.display-top {
  position: relative;
}

.hands {
  position: relative;
  width: 100%;
  height: 100%;
}

.hands__left {
  position: absolute;
  left: -10px;
  bottom: -10px;
  width: 500px;
}

.hands__right {
  position: absolute;
  right: -10px;
  bottom: -10px;
  width: 500px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#mv {
  width: 100vw;
  height: 100vh;
}

.hdg__style1 {
  width: 100%;
  padding: 48px;
  background: #282c34;
  color: #fff;
  font-size: 2.6rem;
}

.lyt {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  gap: 24px;
  margin-top: 36px;
}

.lyt-img {}

.lyt-text {}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .flower-animation {
    animation: mind-hack-flower 1.4s ease-in-out;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes mind-hack-flower {
  from {
    transform: rotate(0deg) scale(0);
  }
  to {
    transform: rotate(360deg) scale(1);
  }
}
