.App {
  text-align: center;
}

.display-top__logo {
  /* background: #d6d01b; */
}

.display-top {
  width: 100vw;
  height: 100vh;
  /* background: url("./background.webp") -5% -10%, url("./background.png"); */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#mv {
  width: 100vw;
  height: 100vh;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .flower-animation {
    animation: mind-hack-flower 1.4s ease-in-out;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes mind-hack-flower {
  from {
    transform: rotate(0deg) scale(0);
  }
  to {
    transform: rotate(360deg) scale(1);
  }
}
